* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .cont_sec1_h1 {
    font-size: 100px;
    font-weight: 700;
    background: -webkit-linear-gradient(90deg, #854fee, #00ff95 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .map{
    position: relative;
    top:0px;
    left: 0px;
  }
  
.contact-sidebar-wapper{
  position: relative;
  bottom: calc(50% - 100px);
}


.contact-sidebar{
  background: #c1ac25;
    padding: 50px 30px 50px 30px;
    margin-top: 60px;
    -webkit-transition: all .5s ease; 
     transition: all .5s ease;
    margin-bottom: 60px;
}

.contact-sidebar-list-item{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-sidebar-single-box{
  padding: 30px 35px 30px 35px;
    border: 1px solid #24328b;
    background: #7079b1;
    margin-bottom: 20px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


.social-link{
  
}