*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s1_cont{
    font-size: 40px;
    color:orange;
}

.s1_title{
    font-size: 40px;
    margin-bottom: 15px; 
}

.s1_end{
    font-size: 55px;
    color: palegree;
   
}

.sec1_img1{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1_img1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1_btn1{
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    color: white;
}

.s1_btn1:hover{
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* border: double 2px transparent; */
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    background-image: none;
    color: black !important;

}

.sec2_heading{
    color: white;
    font-size: 60px !important;
   
}

.s1_btn2{
    border: none;
    color:black;
    border-radius: 7px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* border: double 2px transparent; */
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);

}

.s1_btn2:hover{
    border: none;
    color: white;
    border-radius: 7px;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    
}




/* sec2 start */
.same_heading{
    font-size: 48px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #854fee, #00ff95 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.sec2_btn{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
}




/* sec2 end */

.my_iamge {
    width: 100% !important;
}

/* sec3 start */
.s3_arrow{
    color: white !important;
    font-size: 30px;

}

.s3_box{
height: 48%;
padding: 10px;
}

/* sec3 end */




/* sec4 START */


.s4{
    text-align: center;
    line-height:1.5;
}

.sec4_heading{
    color: white;
    font-size: 50px;
}

.s4-img img{
    border-radius: 10px !important;
    overflow: hidden;
}

.s4_img5{
    position: relative;
    bottom: 160px;
}



/* media quary sec4 */

@media screen and (max-width: 1350px) {
    .container {
        max-width: 1350px !important;
    }
}

@media screen and (max-width: 1297px) {
    .s1_end {
        font-size: 50px;
    }
}

@media screen and (max-width: 1207px) {
    .s1_end {
        font-size: 43px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        margin-top: 30px !important;
    }
    .s1_img1 {
        width: 71%;
    }
    .s1_cont {
        font-size: 33px;
    }
    .s1_end {
        font-size: 35px;
    }

    .my_iamge {
        width: 63% !important;
    }
}

@media screen and (max-width: 1199px){
    .s4_img5{ 
        bottom: 120px;
    }
}

@media screen and (max-width: 991px){
    .container {
        max-width: 1350px !important;
    }
    .s4_img5{ 
        bottom: 90px;
    }
}

@media screen and (max-width: 767px){
    .s4_img5{ 
        bottom: 66px;
    }
}

@media screen and (max-width: 575px){
    .s4_img5{ 
        bottom: 0px;
    }
}

/* media quary sec4 */
/* sec4 end */


.map{
width: 100%;
height: 500px;
background-color: red;
}
