*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

.sec1_h1{
    font-size: 100px;
    font-weight: 700;
    background: -webkit-linear-gradient(90deg, #854fee, #00ff95 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sec1_h1:hover{
    font-size: 100px;
    background: -webkit-linear-gradient(90deg,#00ff95, #854fee 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 5s linear;
}